#titulo{
   
    text-align:center ;
}
#otro{
    text-align:center ;
    max-width:100%;
    height:auto;
}

#btnSalir{

    text-align:center ;
    position: relative;
    margin: auto;
}

.titiloc{
    
    height: 200px;
    /*IMPORTANTE*/
    display: flex;
    align-items: center;
}

#btnRegPac{

    color: #0d6efd;
    background: transparent;
    border: 2px solid #0d6efd;
    border-radius: 6px;
}
#btnRegistrar{

    color: #0d6efd;
    background: transparent;
    border: 2px solid #0d6efd;
    border-radius: 6px;
}
